{% extends 'base_generic.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
    </div>
</div>
{% endblock %}
